<div style="background-image: url('{{series.backdrop}}');" class="background-container">
    <div class="background-inside">
        <div class="container mainbody">
            <div class="row">
                <div class="col-xl-2 col-md-3">
                    <img src="{{series.poster}}" width="200">
                </div>
                <div class="col-xl-10 col-md-9 movie-info">
                    <h1 class="title">{{series.title}} <span class="light">({{series.first_air_date | date:
                            'y'}})</span></h1>
                    <div class="category">{{categories}}</div>
                    <div class="country">Country: <b>{{series.origin_country}}</b></div>
                    <div class="overview">Overview</div>
                    <div class="description">{{series.description}}</div>
                    
                </div>
            </div>
            <div class="action">
                    <div class="row">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBox">
                        <i class="bi bi-trash"></i>
                        Delete
                    </button>
                </div>
                <div class="row mt-2">
                    <button type="button" class="btn btn-info" routerLink="/series/{{seriesId}}/edit">
                        <i class="bi bi-pencil-square"></i>
                        Edit
                    </button>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<app-modal modelId="deleteBox" 
header="Do you want to delete ?" 
body="It will delete from the database and cannot restore."
confimClass="btn-danger"
confirmText="Delete"
(confirmClick)="confirmDelete()"
></app-modal>

<div class="container mainbody">

    <div class="row mt-3">
        <aside class="col-2">
            <ul class="list-group">
                <a *ngFor="let season of series.seasons" (click)="changeSeason(season)">
                    <li class="list-group-item active" *ngIf="activeList(season.name)">{{season.name}}</li>
                    <li class="list-group-item " *ngIf="!activeList(season.name)">{{season.name}}</li>
                </a>
            </ul>
        </aside>
        <main class="col-10">
            <h5>{{selectedSeason.name}} Season</h5>
            <br/>
            <div class="card mb-3 episodes" *ngFor="let episode of selectedSeason.episodes">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{{getEpisodeImage(episode.image)}}" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body pt-0">
                            <h5 class="card-title">{{episode.name}}</h5>
                            <p class="card-text">{{episode.overview}}</p>
                            <p class="card-text"><small class="text-body-secondary">Episode:
                                    #{{episode.episode_number}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>