<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/logo_nav.png"> TV Series </a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="!isLogin">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isLogin">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" href="#" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item"  *ngIf="isLogin">
          <button class="nav-link text-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
    
    <form #searchForm="ngForm" class="d-flex" role="search" (ngSubmit)="search(searchForm)">
      <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="query">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>